---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  creationTimestamp: null
  name: {{ include "tcpdump.fullname" . }}
  labels:
    {{- include "tcpdump.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "tcpdump.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      creationTimestamp: null
      labels:
        {{- include "tcpdump.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      {{- if .Values.customImage.enabled }}
      - command:
        - bash
        - -c
        - |
          mkdir -p /root/tcpdump
           
          {{- $src := .Values.src }}
          {{- $dst := .Values.dst }}

          {{- if and (not $src) (not $dst) }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
           -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
          {{- else if and $src (not $dst) }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
          src {{ $src }} \
          -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
          {{- else if and (not $src) $dst }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
           dst {{ $dst }} \
           -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
          {{- else }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
              src {{ $src }} and dst {{ $dst }} \
             -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
           {{- end }}
        image: {{ .Values.customImage.image }}
      {{ else }}
      - command:
        - bash
        - -c
        - |
        {{- $src := .Values.src }}
          {{- $dst := .Values.dst }}

          {{- if and (not $src) (not $dst) }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
           -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
          {{- else if and $src (not $dst) }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
          src {{ $src }} \
          -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
          {{- else if and (not $src) $dst }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
           dst {{ $dst }} \
           -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
          {{- else }}
           /usr/sbin/tcpdump -n -s 0 -C 500 -W {{ .Values.tcpReplica }} -tttt \
              src {{ $src }} and dst {{ $dst }} \
             -w "/root/tcpdump/$NODE_NAME $(date +\"%Y_%m_%d_%I_%M_%p\").cap"
           {{- end }}
        image: ubuntu:18.04
        {{ end }}
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        {{- if .Values.resources}}
        resources: {{toYaml .Values.resources | nindent 12}}
        {{- end }}
        securityContext:
          privileged: true
        name:  {{ .Chart.Name }}
        volumeMounts:
          - mountPath: /root/tcpdump
            name: tcpdump
            readOnly: false
      hostPID: true
      hostNetwork: true
    {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
    {{- end }}
      volumes:
      - name: tcpdump
        persistentVolumeClaim:
          claimName: {{ include "tcpdump.fullname" . }}
